// Variables
@import 'variables';

.header {
    background: #fff;
    border-bottom: 0.4em solid $monkey;
    .branding {
        float: left;
    }
}

.navbar {
    margin: 6.2em 0 0 0;
    float: right;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
            line-height: 4em;
            .tab {
                padding: 0.5em 1em;
                line-height: 1em;
                font-size: 1.3em;
                font-weight: 600;
                color: $curious;
                text-decoration: none;
                border-radius: 0.05em;
                &:hover {
                    background: $curious;
                    color: #fff;
                }
            }
        }
    }
}

@media(max-width: 1764px) {
    .navbar {
        margin: 0px;
        float: none;
        width: 100%;
    }
}